Package: com.brycedev.spotit+
Name: Spotit+
Depends: mobilesubstrate, firmware (>=9.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adds a Reddit feed to your Spotlight view!
Maintainer: Bryce Jackson
Author: Tanner Bennett and Bryce Jackson
Section: Tweaks
